@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }

*, *::after, *::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
        /* This will force all the components to inherit box-sizing property  */ 
    }

html {
    font-size: 62.5%;
}

    @media (max-width: 75em) {
        html {
        font-size: 56.25%; } }
    @media (max-width: 56.25em) {
        html {
        font-size: 50%; } }
    @media (min-width: 112.5em) {
        html {
        font-size: 75%; } }
    
    body {
    box-sizing: border-box;
    }
    @media (max-width: 56.25em) {
        body {
        padding: 0; } }
    
    body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777; }

.header {
    background-image: linear-gradient(to right bottom, rgba(231, 113, 125, 0.5), rgba(175, 210, 117, 0.5)), url("./images/hero_image.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 3.5rem;
    font-size: 3rem;
    color : #ffffffd3
    }
  
.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary{
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden; 
    margin-bottom: 6rem;
}

.heading-primary--main{
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 1.5rem;
  
      animation-name: moveInLeft; 
      animation-duration: 1s;  
      animation-timing-function: ease-out;
    }
  
    .heading-primary--sub{
      display: block;
      font-size: 2rem;
      font-weight: 400;
      font-weight: 700;
  
      animation: moveInRight 1s ease-out;
    }

    .btn {
      /* pseudo class is a special state of for the selector */ }
      .btn, .btn:link, .btn:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: 1.6rem;
        border: none;
        cursor: pointer; }
      .btn:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        /* x y intensity color*/ }
        .btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0; }
      .btn:active, .btn:focus {
        outline: none;
        transform: translate(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
      .btn--white {
        background-color: #fff;
        color: #777; }
        .btn--white::after {
          background-color: #fff; }
      .btn--green {
        background-color: #55c57a;
        color: #fff; }
        .btn--green::after {
          background-color: #55c57a; }
      .btn::after {
        content: '';
        display: inline-block;
        height: 100%;
        /* of the height of the button */
        width: 100%;
        /* of the width of the button */
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s; }
      .btn--animated {
        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: 0.75s;
        animation-fill-mode: backwards;
        /* applies the style of 0% to the animation */ }
    
    .btn-text:link, .btn-text:visited {
      color: #55c57a;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid #55c57a;
      padding: .3rem;
      font-size: 1.6rem; }
    
    .btn-text:hover {
      background-color: #55c57a;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      transition: all 0.2s; }
    
    .btn-text:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      transform: translateY(0); }
    

/* 
.btn, .btn:link, .btn:visited{
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
  
      border: none;
      cursor: pointer;
    } */

/* .container-fluid{
    padding-left: 0;
    padding-right: 0;
    min-height: 100%;
    min-width: 100%;
} */