<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <title>Search Page</title>
    
</head>
<body>
        <header class="header">
            <div class="header__logo-box">
                <p class="header__logo">BrightPath</p>
            </div>
            <div class="container-fluid">
                <div class="header__text-box">
                <form action="#" method="post">
                    <div class="row">
                        <label for="college_name">College Name</label>
                        <select name=college_name_list id="college_name_list" method="GET" action="/" multiple>
                            <option value="College Name"> 
                            {% for college in college_name_list %}
                            <option value="{{college}}">{{college}}</option>  
                            {% endfor %}  
                        </select>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="courses_list">Preferred Courses</label>
                            <select name=courses_list id='courses_list' method="GET" action="/" multiple>
                                <option value="Preferred Courses"> 
                                {% for course in courses_list %}
                                <option value="{{course}}">{{course}}</option>  
                                {% endfor %}  
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="facilities_list">Facilities Preferred</label>
                            <select name=facilities_list id='facilities_list' method="GET" action="/" multiple>
                                <option value="Facilities Preferred"> 
                                {% for facility in facilities_list %}
                                <option value="{{facility}}">{{facility}}</option>  
                                {% endfor %}  
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="states_list">Preferred States</label>
                            <select name=states_list id="states_list" method="GET" action="/" multiple>
                                <option value="Preferred States"> 
                                {% for state in states_list %}
                                <option value="{{state}}">{{state}}</option>  
                                {% endfor %}  
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="cities_list">Preferred City</label>
                            <select name=cities_list id="cities_list" method="GET" action="/" multiple>
                                <option value="Preferred Cities"> 
                                {% for city in cities_list %}
                                <option value="{{city}}">{{city}}</option>  
                                {% endfor %}  
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="universities_list">Universities Preferred</label>
                            <select name=universities_list id="universities_list" method="GET" action="/" multiple>
                                <option value="Universities Preferred"> 
                                {% for university in universities_list %}
                                <option value="{{university}}">{{university}}</option>  
                                {% endfor %}  
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="college_type_list">Preferred College Type</label>
                            <select name=college_type_list id="college_type_list" method="GET" action="/" multiple>
                                <option value="Preferred College Type"> 
                                {% for college_type in college_type_list %}
                                <option value="{{college_type}}">{{college_type}}</option>  
                                {% endfor %}  
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="genders_accepted_list">Preferred Genders</label>
                            <select name=genders_accepted_list id="genders_accepted_list" method="GET" action="/" multiple>
                                <option value="Preferred Genders"> 
                                {% for gender_type in genders_accepted_list %}
                                <option value="{{gender_type}}">{{gender_type}}</option>  
                                {% endfor %}  
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Discover your options" class="btn btn--white btn--animated" style="margin-left: 25%;">

                </form>
            </div>
            </div>
            
        </header>

        <footer class="footer">
    
            <div class="row" style="display: flex; align-items: center;">
                <!-- <div class="col-1-of-2"> -->
                    <p class="footer__copyright">
                        Developed by <a href="#" class="footer__link">Dipak Bange, Shrirang Mhalgi, Anushka Karmerkar</a> as a part of <a href="https://mohfw.gov.in/" class="footer__link">Data Mining</a> project 
                        on 19<sup>th</sup> April 2023 </p>
                <!-- </div> -->
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
        <script>
            new MultiSelectTag('college_name_list')
            new MultiSelectTag('courses_list')  
            new MultiSelectTag('facilities_list')  
            new MultiSelectTag('states_list')  
            new MultiSelectTag('cities_list')  
            new MultiSelectTag('universities_list')  
            new MultiSelectTag('college_type_list')
            new MultiSelectTag('genders_accepted_list')
            
        </script>
</body>
</html>